@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Marcelo Garcia Jiu Jitsu Association of Gainesville, FL</h1>
    <p class="lead">Welcome!  We are a martial arts academy dedicated to enhancing the quality of life for our members.  We believe that this can be achieved through the development of a sound body and alert mind through Brazilian Jiu Jitsu – as taught directly from one of the living legends of the sport, Marcelo Garcia.</p>
    @Html.ActionLink("Learn More!", "About", null, new { @class = "btn btn-primary btn-lg" })
</div>
<div class="row">
    <div style="text-align: center;">
        <div id="indexPhotos" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#indexPhotos" data-slide="0" class="active"></li>
                <li data-target="#indexPhotos" data-slide="1"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/Images/bjjgnv1.png" alt="Group" />
                </div>
                <div class="item">
                    <img src="~/Content/Images/kids.png" alt="Kids" />
                    <div class="carousel-caption">
                        <h3 style="color: steelblue">Children's Martial Arts Classes for Ages 5-13</h3>
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#indexPhotos" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#indexPhotos" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Started Today!</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        @Html.ActionLink("Start Your Free Trial", "Trial", null, new { @class = "btn btn-primary btn-lg" })
    </div>
</div>