
@{
    ViewBag.Title = "Rules";
}

<h2>Academy Rules</h2>

<div class="row">
    <h3>We strive to maintain a positive atmosphere and sense of community here at our Brazilian Jiu Jitsu academy, and we are committed to maintaining a clean, hygenic, and safe martial arts school.</h3>
    <h3>Here's how you can help:</h3>
    <ul>
        <li>Show up on time</li>
        <li>Have a positive and respectful attitude</li>
        <li>Do not crank submissions</li>
        <li>Tap when you are caught</li>
        <li>No slamming or neck cranks</li>
        <li>Discuss with partner before using heel hooks, knee bars, toe holds, slicers, etc.</li>
        <li>Be mindful of other pairs when you are rolling</li>
        <li>No shoes on the mat </li>
        <li>No dirty training gear (gi’s, rashguards, shorts, etc)</li>
        <li>Keep finger/toe nails trim</li>
        <li>Keep illness, skin infections, open wounds, and blood off the mat</li>
        <li>Pick up after yourself</li>
    </ul>
</div>